#clear-filters-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius:1px;
}
.filter-types {
    background:#f7f7f7;
    border:0;
}
a.filter-types {
    color:black;
    margin-bottom:5px;
}
a.filter-types:hover {
    text-decoration:none;
}
.control-label.control-panel {
    width:47px;
    padding-left:5px;
}
.panel.control-panel {
    position:relative;
}