.amount {
    font-weight:800;
    color:black;
}
.amount-positive {
    color:green;
}
.amount-negative {
    color:red;
}
.category-tag {
    margin-right:3px;
}
.currency-field {
    text-align:right;
}
.feed-summary, .feed-summary > div {
    height:25px;
}